.nav ul{
  overflow: hidden;

}

.nav li{
  list-style-type: none;
  float: left;
  padding: 10px 20px;
  font-size: 25px;

}
.nav li a{
  display: block;
  text-decoration: none;
  font-family: fantasy;
}
div img{
  border-radius: 100%;
  display: block;
  margin: auto;
}

h1{
text-align: center;
font-size: 80px;
font-family: monospace;
background-color: rosybrown;
padding: 20px;
}
.agent1, .agent2{
      float: left;
      margin-left: 10%;
      width: 40%;

}

div h2{
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}
div p{
  font-size: 30px;
  font-family: sans-serif;
}
div li{
list-style-type: none;
font-size:  30px;
line-height: 35px;

}
