h1{
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  background-color: brown;
  color: white;
}

body{
  background-color: lightyellow;
}

h2{
  font-family: monospace;
  font-size: 25px;
}

p{
  font-family: cursive;
}
